<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777625264779-1m4co5elndu6o9uieaecs1hdq48mjqak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777625264779-1m4co5elndu6o9uieaecs1hdq48mjqak</string>
	<key>API_KEY</key>
	<string>AIzaSyC0XuFPo1Trr21fJe0O83FWa61yS8wktC4</string>
	<key>GCM_SENDER_ID</key>
	<string>777625264779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WooBi.dontforgetMAP</string>
	<key>PROJECT_ID</key>
	<string>dont-forget-map-394415</string>
	<key>STORAGE_BUCKET</key>
	<string>dont-forget-map-394415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777625264779:ios:ebaa9715e9d056b678ea8e</string>
</dict>
</plist>